src/schemaEventoGUI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- schemaEventoGUI.xsd -->
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="EventoUtilizzoGUI">
        <xs:complexType>
            <xs:all>
                <xs:element name="evento" type="xs:string"/>
                <xs:element name="IPClient" type="xs:string"/>
                <xs:element name="data" type="xs:string"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>